.form__legend {
    border: 2px solid #00f7ff;
    padding: 10px 20px;
    color: white;
    background-color: #161616;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px #00f7ff;
    font-weight: bold;
    font-size: 22px;
    min-width: 150px;
}