.form {
    font-size: 20px;
    text-align: center;
    flex-basis: 800px;
}

.form__fieldset {
    border: 3px solid #00f7ff;
    border-radius: 20px;
    padding: 40px 0px;
    box-shadow: 0px 0px 12px #00f7ff;
    background-color: #412871;
}

.form__selectContainer {
    margin-bottom: 45px;
}

.form__select {
    border-radius: 5px;
}

.form__specialText {
    display: inline-block;
    margin: 0 15px;
    color: #15ff00;
    text-shadow: 0px 0px 7px currentColor;
    font-size: 21px;
}

.form__legend {
    border: 2px solid #00f7ff;
    padding: 10px 20px;
    color: white;
    background-color: #161616;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px #00f7ff;
    font-weight: bold;
    font-size: 22px;
    min-width: 150px;
}

.form__input {
    border-radius: 5px;
    padding: 8px;
    max-width: 200px;
}

.form__labelText {
    display: inline-block;
    width: 210px;
    margin-right: 5px;
}

.form__paragraph {
    margin-top: 65px;
    margin-bottom: -5px;
    text-align: center;
}

.form__button {
    background-color: #242424;
    color: #fff;
    padding: 8px;
    border: 3px solid #000;
    border-radius: 10px;
    min-width: 130px;
    font-size: 21px;
    text-shadow: #000 1px 1.5px 1px;
    transition: 0.3s;
}

.form__button:hover {
    color: #00f7ff;
    background-color: #303030;
    outline: 1px solid #000;
    cursor: pointer;
}

.form__button:active {
    background-color: #260b5b;
}